.sidebarRow{
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}
.sidebarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebarRow > h4{
    margin-left: 20px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;
}
