
/* Original */
/* Modify this as you please

.login{
    background-image: linear-gradient(rgb(197,210,236), rgb(210,236,197));
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login_container{
    margin-top: -20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 0px solid black; 
    background-color: white;
    border-radius: 10px;
    width: 27vw;
   
    min-height: 15vh;
    margin-bottom: 90px;
}
.login_container >  p{
    margin-top: 30px;
    font-size: 12px;
  
    width: 27vw;
    height: 55vh;
    
}
.login_button >  button{
    border: 5px;
    background-color:#C5D2EC;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    
}
.login_container > form > input{
    height: 40px;
    margin-bottom: 10px;
    background-color:#e1e1e1;
    border: 0px solid black; 
    width: 98%;

    border-radius: 6px;
}

.login_container > form > h5 {
    margin-bottom: 5px;
}

.login_logo{
    
    margin-top: 20px;
    margin-bottom: 20px;

    width: 150px;
    object-fit: contain; 
}
.icon_text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.acc_link{
   
}
*/


/* Second version */

/*
.login{
    background-color: black;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray; 
    background-color: white;
}
.login_container >  p{
    margin-top: 15px;
    font-size: 12px;
    
}
.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: lightblue;
    width: 98%
}

.login_container > form > h5 {
    margin-bottom: 5px;
}
.login_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    object-fit: contain; 
} */

/* 3rd version */ 

.login{
    background-color: white;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid black; 
    background-color: white;
    
}
.login_container >  p{
    margin-top: 15px;
    font-size: 12px;
    
}
.login_container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: lightblue;
    width: 98%
}

.login_container > form > h5 {
    margin-bottom: 5px;
}
.login_logo{
    
    margin-top: 20px;
    margin-bottom: 20px;

    width: 100px;
    object-fit: contain; 
}